@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Model.FirstName</h1>
    <p><b>Toll Calculator Demo</b></p>
    <p>.Net Core with Razor</p>
</div>
