@page
@model TollCalculator.Pages.Pages.AddVehicleModel
@{
    ViewData["Title"] = "Add Vehicle";
}

<h1>Add Vehicle</h1>
<form method="post">
    <!--input type="text" asp-for="Vehicle.Name" placeholder="Vehicle Name" />
    <input type="text" asp-for="Vehicle.Type" placeholder="Type" />
    <button type="submit">Submit</button -->
</form>